.overlaylogin {
  width: 80%;
  margin: 5rem auto;
  padding: 2rem;
  background-color: rgba(136, 221, 216, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  max-height: none !important;
}

.Formulaire{
    width: 95%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.Buttoncontainer{
    display: flex;
    justify-content: center;
  align-items: center;
}


